.panel {
  &-icon {
    margin-right: 15px;
    & .feather-loader {
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
    }
    &-delete {
      color: indianred;
      position: absolute;
      right: 8px;
      z-index: 50;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-block {
    position: relative;
    display: flex;
    font-weight: normal;
    text-align: left;
    padding-right: 50px;
    & a > .meaning {
      color: $color-dark-grey;
      transition: all ease-in-out .3s;
      &:hover {
        color: $color-primary;
      }
    }
  }
  margin-bottom: 10px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }