.bg-kitty {
  width: 64px;
  height: 64px;
  &__confused {
    background: url('../assets/cat_sprites.png') -10px -10px;
  }
  &__happy {
    background: url('../assets/cat_sprites.png') -94px -10px;
  }
  &__hero {
    background: url('../assets/cat_sprites.png') -10px -94px;
  }
  &__idea {
    background: url('../assets/cat_sprites.png') -94px -94px;
  }
  &__laptop {
    background: url('../assets/cat_sprites.png') -178px -10px;
  }
  &__reading {
    background: url('../assets/cat_sprites.png') -178px -94px;
  }
  &__sad {
    background: url('../assets/cat_sprites.png') -10px -178px;
  }
  &__sleep {
    background: url('../assets/cat_sprites.png') -94px -178px;
  }
  &__wondering {
    background: url('../assets/cat_sprites.png') -178px -178px;
  }
  &__writing {
    background: url('../assets/cat_sprites.png') -262px -10px;
  }
}