%box-shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

%input {
  border: solid 2px $color-light-grey;
  transition: ease-in .2s all;
  &:focus,
  &:active {
    border-color: $color-primary;
    @extend %box-shadow;
  }
}