.tippy-tooltip.kanjidex-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
  0 4px 80px -8px rgba(36, 40, 47, 0.25),
  0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: white;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.kanjidex-theme .tippy-arrow
{
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.kanjidex-theme .tippy-arrow
{
  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent
}

.tippy-popper[x-placement^=left] .tippy-tooltip.kanjidex-theme .tippy-arrow
{
  border-bottom: 7px solid transparent;
  border-right: 7px solid transparent;
  border-left: 7px solid #fff;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.kanjidex-theme .tippy-arrow
{
  border-bottom: 7px solid transparent;
  border-right: 7px solid #fff;
  border-left: 7px solid transparent;
}

.kanjidex {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
}

.kanjidex > div {
  flex: 35% 2 5%;
}

.kanjidex-kanji {
  font-size: 48px;
  display: flex;
  align-self: center;
  padding-right: 15px;
}

.kanjidex-main {
  text-align: left;
}

.kanjidex-meaning {
  font-size: 24px;
}

.kanjidex-main span {
    font-weight: bold;
}

.kanjidex-stroke-order > img {
  height: 70px;
  margin-top: 10px;
  align-self: flex-start;
}

