@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("./../../public/fonts/NotoSansJP-Regular.otf") format("otf");
}

.kanjidex-tooltip {
  border-bottom: dashed 1px indianred;
}

.kanjidex-tooltip:hover {
  cursor: pointer;
}

/* kanjidex tooltip */
.tippy-box[data-theme~="kanjidex"] {
  color: #333;
  -webkit-box-shadow: -5px 9px 18px -8px rgba(128, 121, 128, 1);
  -moz-box-shadow: -5px 9px 18px -8px rgba(128, 121, 128, 1);
  box-shadow: -5px 9px 18px -8px rgba(128, 121, 128, 1);
  padding: 10px 20px;
}

.tippy-box,
.tippy-content {
  position: relative;
  z-index: 99999 !important;
  background: #fff !important;
}

.tippy-box[data-theme~="kanjidex"] .row {
  display: flex;
  background: #fff !important;
}

.tippy-box[data-theme~="kanjidex"] .kanjidex-title {
  font-size: 18px;
  margin: none !important;
  margin-bottom: 8px !important;
  color: #333 !important;
  line-height: 22px !important;
}

.tippy-box[data-theme~="kanjidex"] .kanjidex-info {
  font-size: 16px !important;
  margin: none !important;
  margin-bottom: 4px !important;
  color: #333 !important;
  line-height: 20px !important;
}

.tippy-box[data-theme~="kanjidex"] img {
  max-height: 80px;
  width: auto;
  max-width: 98%;
  margin-bottom: 5px !important;
}

.tippy-box[data-theme~="kanjidex"] a {
  margin: 5px 0 !important;
  color: #f05252 !important;
  font-size: 16px !important;
}

.tippy-box[data-theme~="kanjidex"] .kanjidex-title,
.tippy-box[data-theme~="kanjidex"] .kanjidex-info,
.tippy-box[data-theme~="kanjidex"] a {
  text-decoration: none !important;
  font-family: "Noto Sans JP", sans-serif !important;
  background-color: #fff !important;
  border: none !important;
  font-weight: normal !important;
  padding: none !important;
  max-width: 400px;
}

.tippy-box[data-theme~="kanjidex"] .kanjidex-title::after,
.tippy-box[data-theme~="kanjidex"] .kanjidex-info::after,
.tippy-box[data-theme~="kanjidex"] a::after {
  content: "";
  display: none;
}

.tippy-box[data-theme~="kanjidex"] .kanjidex-title::before,
.tippy-box[data-theme~="kanjidex"] .kanjidex-info::before,
.tippy-box[data-theme~="kanjidex"] a::before {
  content: "";
  display: none;
}

.tippy-box[data-theme~="kanjidex"] strong {
  color: hsl(0, 0%, 39%) !important;
}

/* styling for the arrow */

.tippy-box[data-theme~="kanjidex"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #fff;
}
.tippy-box[data-theme~="kanjidex"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #fff;
}
.tippy-box[data-theme~="kanjidex"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: #fff;
}
.tippy-box[data-theme~="kanjidex"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: #fff;
}
